@using Agent_WebForm_Project.Models
@{
    ViewBag.Title = "Cart";
    if (Session["AgentID"] != null)
    {
        Layout = "~/Views/Shared/_Logined.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    List<Product> productList = new List<Product>();
    if (ViewBag.ProductList != null)
    {
        productList = (List<Product>)ViewBag.ProductList;
    }

    int counter = 0;
}

<div>
    <h3 class="col-xs-12 text-center">Your cart</h3>
    <div class="col-xs-12 panel panel-default" style="padding: 0;">
        <div class="panel-heading text-center">Product list</div>
        @{
            if (productList == null)
            {
                <div class="panel-body">
                    <p>Your cart is empty.</p>
                </div>
            }
            else
            {
                using (Html.BeginForm("OrderPreview", "Product", FormMethod.Post))
                {
                    <table class="table table-hover">
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Order Quantity</th>
                            <th>Brand</th>
                            <th>Origin</th>
                            <th>Product Size</th>
                            <th>Action</th>
                        </tr>
                        @foreach (Product product in productList)
                        {
                            if (product != null)
                            {
                                string productIdInfo = "ProductID[" + counter + "]";
                                string productNameInfo = "ProductName[" + counter + "]";
                                string productPriceInfo = "ProductPrice[" + counter + "]";
                                string productQuantityInfo = "ProductQuantity[" + counter + "]";
                                string productSizeInfo = "ProductSize[" + counter + "]";
                                string productUnitSizeInfo = "ProductUnitSize[" + counter + "]";
                                string productBrandInfo = "ProductBrand[" + counter + "]";
                                string productOriginInfo = "ProductOrigin[" + counter + "]";
                                counter++;
                                <input type="hidden" name="@productIdInfo" value="@product.ProductID" />
                                <input type="hidden" name="@productNameInfo" value="@product.ProductName" />
                                <input type="hidden" name="@productPriceInfo" value="@product.ProductPrice" />
                                <input type="hidden" name="@productSizeInfo" value="@product.ProductSize" />
                                <input type="hidden" name="@productUnitSizeInfo" value="@product.ProductUnitSize" />
                                <input type="hidden" name="@productBrandInfo" value="@product.ProductBrand" />
                                <input type="hidden" name="@productOriginInfo" value="@product.ProductOrigin" />
                                <tr>
                                    <td>@product.ProductID</td>
                                    <td>@product.ProductName</td>
                                    <td>@product.ProductPrice</td>
                                    <td>
                                        <div class="editor-field">
                                            <input class="text-box single-line" name="@productQuantityInfo" type="number" min="1" value="1" />
                                        </div>
                                    </td>
                                    <td>@product.ProductBrand</td>
                                    <td>@product.ProductOrigin</td>
                                    <td>@product.ProductSize @product.ProductUnitSize</td>
                                    <td>
                                        <a class="btn btn-default"
                                           href="@Url.Action("RemoveItemFromCart", "Product", product)">
                                            Delete
                                        </a>
                                    </td>
                                </tr>

                            }
                        }
                    </table>
                    <div>
                        <input type="submit" value="Go order" class="btn btn-primary" />
                    </div>
                }
            }
        }
    </div>
</div>